.texto-menor
{
	font-size: 13px;
}

.divs-facilidades
{
	width: 325px;
}

.registered-symbol
{
	font-size: 0.75em;
	vertical-align: super;
}

.cor-promo
{
	color: #cccccc;
}

.cor-verde
{
	color: #DAFF01
}

.cor-botao
{
	background: #9353FF;
}